<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>32669712464-qt5s65agc1ppl0njfuf7arpgsedalss2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.32669712464-qt5s65agc1ppl0njfuf7arpgsedalss2</string>
	<key>API_KEY</key>
	<string>AIzaSyBoyIPtvPOLdhv-imj_ILJP6QHyOkDEWUQ</string>
	<key>GCM_SENDER_ID</key>
	<string>32669712464</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>casper.com.AppDrink</string>
	<key>PROJECT_ID</key>
	<string>appdrink-140d1</string>
	<key>STORAGE_BUCKET</key>
	<string>appdrink-140d1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:32669712464:ios:bf9a059b01fa128d8a5155</string>
</dict>
</plist>