<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>192068867189-mnui7scqrhmla5ef9scvbtf4l066a9vs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.192068867189-mnui7scqrhmla5ef9scvbtf4l066a9vs</string>
	<key>API_KEY</key>
	<string>AIzaSyCOFGG9EgCC1_AJgeiZw13XyU5B9XYEcNs</string>
	<key>GCM_SENDER_ID</key>
	<string>192068867189</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>casper.com.DrinkApp</string>
	<key>PROJECT_ID</key>
	<string>drinkapp-1e254</string>
	<key>STORAGE_BUCKET</key>
	<string>drinkapp-1e254.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:192068867189:ios:6860dda11752f3a016943c</string>
</dict>
</plist>